.dark {
    background: #222222;
}
.dark .navItem{
    color: white;
}
.dark .routeIcon p {
    color: black;
}
.dark .runIcons {
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/686/259/small/teal-geometric-background.jpg');
}
.dark .hikeIcons {
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/686/259/small/teal-geometric-background.jpg');
}
.dark .scenicIcons {
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/686/259/small/teal-geometric-background.jpg');
}
.dark .runForm {
    color: black;
    background-image: url("https://wallpapercave.com/wp/wp4904119.jpg");
    box-shadow: 10px 10px 8px rgb(12, 92, 106);
}
.dark .hikeForm {
    color: black;
    background-image: url("https://wallpaperaccess.com/full/3764888.jpg");
    box-shadow: 10px 10px 8px rgb(12, 92, 106);
}
.dark .scenicForm {
    color: black;
    background-image: url("https://p1.pxfuel.com/preview/58/729/249/painting-abstract-waves-colorful.jpg");
    box-shadow: 10px 10px 8px rgb(12, 92, 106);
}
.dark .descContainer {
    background-image: url('https://theforum.columbia.edu/sites/default/files/styles/cu_crop/public/content/images/ONYX_FOALER_Final.jpg?itok=GH06ZGUj');
}
.dark #logoutBtn {
    color: red;
}
.dark h1 {
    color: white;
}
.dark h2 {
    color: white;
}
.dark h3 {
    color: white;
}
.dark h4 {
    color: white;
}
.dark p {
    color: white;
}

.dark {
  background: #222222;
}
.dark h1 {
  color: white;
}
.dark h2 {
  color: white;
}
.dark h3 {
  color: white;
}
.dark h4 {
  color: white;
}
.dark p {
  color: white;
}
