.Map {
    height: 600px;
    width: 600px;
    border-radius: 300px;
    border: solid 5px rgb(3,182,227);
}

@media (max-width: 768px) {
    .Map {
        height:220px;
        width: 220px;
        border-radius: 10px;
    }
}